---
title: Middleman
---
<div class="container">
  <div class="faire-part">
  <%= link_to "Merci de répondre, ici", "form.html", class: "btn btn-wedding" %>
  </div>
</div>


<!--   <img src="images/faire-part.jpg" alt="" style="width: auto; height: 100vh; display: block; margin-left: auto; margin-right: auto;"> -->
